@using Bulky.Models
@* 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
</body>
</html>
 *@
 
 @model Product

<div class="card shadow border mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Product</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">

                @* <div class="mb-3 row p-1"> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    @* <label asp-for="DisplayOrder" class="pb-0">Display Order</label> *@
                    <input asp-for="Description" class="form-control border-0 shadow" />
                    <label asp-for="Description" class="ms-2">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    @* <label asp-for="DisplayOrder" class="pb-0">Display Order</label> *@
                    <input asp-for="ISBN" class="form-control border-0 shadow" />
                    <label asp-for="ISBN" class="ms-2">ISBN</label>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                
                <div class="form-floating py-2 col-12">
                    @* <label asp-for="DisplayOrder" class="pb-0">Display Order</label> *@
                    <input asp-for="Author" class="form-control border-0 shadow" />
                    <label asp-for="Author" class="ms-2">Author</label>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                
                <div class="form-floating py-2 col-12">
                    @* <label asp-for="DisplayOrder" class="pb-0">Display Order</label> *@
                    <input asp-for="ListPrice" class="form-control border-0 shadow" />
                    <label asp-for="ListPrice" class="ms-2">List Price</label>
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                
                <div class="form-floating py-2 col-12">
                    @* <label asp-for="DisplayOrder" class="pb-0">Display Order</label> *@
                    <input asp-for="Price" class="form-control border-0 shadow" />
                    <label asp-for="Price" class="ms-2">Price</label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                
                <div class="form-floating py-2 col-12">
                    @* <label asp-for="DisplayOrder" class="pb-0">Display Order</label> *@
                    <input asp-for="Price50" class="form-control border-0 shadow" />
                    <label asp-for="Price50" class="ms-2">Price50</label>
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                
                <div class="form-floating py-2 col-12">
                    @* <label asp-for="DisplayOrder" class="pb-0">Display Order</label> *@
                    <input asp-for="Price100" class="form-control border-0 shadow" />
                    <label asp-for="Price100" class="ms-2">Price100</label>
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                

                <div class="row mt-5">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Edit</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* <h1>Create Product</h1> *@



<style>
    .alert-danger:empty {
        display: none;
    }
</style>



@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
